<div class="bg-[#F1F1F1] h-screen flex items-center justify-center">
  <form
    class="bg-white shadow-[0px_1px_3px_0px_rgba(16,_24,_40,_0.10),_0px_1px_2px_0px_rgba(16,_24,_40,_0.06)] basis-[44.25rem] p-[4.5rem]"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-col justify-center">
      <h1 class="text-[2rem] font-[600] mb-[2.5rem]">Entrar</h1>

      <label
        for="username"
        class="flex flex-col gap-[0.5rem] text-[0.875rem] font-[500] mb-[1.5rem]"
      >
        Usuário

        <input
          type="text"
          name="username"
          id="username"
          placeholder="Digite seu nome de usuário"
          class="appearance-none border border-[#D2D2D2] p-[0.5rem] rounded"
          formControlName="username"
        />

        <div
          *ngIf="
            loginForm.get('username')?.invalid &&
            loginForm.get('username')?.touched
          "
          class="text-red-500 text-[0.75rem]"
        >
          Campo obrigatório*
        </div>
      </label>

      <label
        for="password"
        class="flex flex-col gap-[0.5rem] text-[0.875rem] font-[500] mb-[1.5rem]"
      >
        Senha

        <input
          type="password"
          name="password"
          id="password"
          placeholder="Digite sua senha"
          class="appearance-none border border-[#D2D2D2] p-[0.5rem] rounded"
          formControlName="password"
        />

        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
          class="text-red-500 text-[0.75rem]"
        >
          Campo obrigatório*
        </div>

        <div class="flex items-start mt-[0.5rem]">
          <div class="flex items-center h-5">
            <input
              id="remember"
              type="checkbox"
              class="w-4 h-4"
              formControlName="remember"
            />
          </div>

          <div class="ml-3 text-sm">
            <label for="remember" class="text-gray-500">Lembrar de mim</label>
          </div>
        </div>
      </label>

      <button
        type="submit"
        class="rounded-[0.5rem] bg-[#575756] text-white transition-colors flex justify-center items-center h-[3rem] font-[600] mb-[1.5rem] disabled:bg-[#AFAFAE]"
        [disabled]="loginForm.invalid"
      >
        Entrar
      </button>
    </div>
  </form>
</div>